* { outline: none !important; }
body { line-height: 1.5; font-size: 15px; font-family: "Lato"; overflow-x: hidden; overflow-y: auto; }
h1, h2, h3, h4 , h5 , h6 { font-family: "Roboto"; color: #2c2c2c; margin-top: 0; }
small { font-size: 50% !important; }
a { color: #479ec1; }
xmp { background-color: #f3f3f3; border-color: silver; border-radius: 0.1875rem; border-style: solid; border-width: 0.0625rem; display: block; overflow: auto; padding: 0 20px 20px; }
.color-theme { color: #479ec1; }
.panel-body img { border: 1px solid rgba(0,0,0,0.1); max-width: 100%; display: block;margin: 0 auto; }
.panel-body .has-many-img {
  text-align: center;
  display: block;
}
.panel-body .has-many-img img { display: inline-block; }
.panel-body .has-many-img img+img {margin-left: 30px;}
.page-heading {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
section.panel.panel-heading {
	margin: 0 auto!important;
	border-bottom: 0;
}
.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { background-color: #fff !important; }
.video-container { position:relative; padding-bottom:56.25%; padding-top:30px; height:0; overflow:hidden; }
.video-container iframe, .video-container object, .video-container embed { position:absolute; top:0; left:0; width:100%; height:100%; }
/* HEADER */
.content-body section.panel { max-width: 1200px; margin: 40px auto 0; }
.navbar-fixed-top { margin: 0; }
.navbar-header .navbar-brand { padding: 0; padding-left: 25px; }
.navbar-header .navbar-brand img { max-height: 50px;}
.navbar-fixed-top h1 { color: #479ec1; font-size: 26px; line-height: 46px; margin-right: 25px; margin-bottom: 0; }
.navbar-fixed-top .navbar-right .dropdown .dropdown-toggle { height: 50px; background: none; border: none; border-left: 1px dashed #ddd; padding-left: 25px; padding-right: 25px; }
.navbar-right .dropdown-menu { right: 20px; margin: 0; padding: 0; border-top-left-radius: 0px; border-top-right-radius: 0px; }
.navbar-right .dropdown-menu li { border-top: 1px dashed rgba(0,0,0,0.1); }
.navbar-right .dropdown-menu li:first-child { border-top: none; }
.navbar-right .dropdown-menu li a { padding: 8px 20px; }
.navbar-right .dropdown-menu li a .fa { margin-right: 10px; }
/* Content */
.inner-wrapper { display: block; min-height: 100vh; overflow: hidden; table-layout: fixed; width: 100%; }
.content-body { margin-left: 340px; padding: 40px 20px; }
.sidebar-left li.logo { padding: 15px; }
.sidebar-left li.logo img { max-width: 120px; }
.sidebar-left { background: #212121 none repeat scroll 0 0; bottom: 0; font-size: 1.2rem; left: 0; padding-bottom: 10px; position: fixed; top: 0; width: 340px; }
.sidebar-left li.nav-parent .nav-children { display: none; }
.sidebar-left li.nav-parent { position: relative; }
.sidebar-left li.nav-parent:after { content: "\f107"; font-family: "FontAwesome"; font-size: 12px; color: #fff; position: absolute; right: 20px;
top: 10px; z-index: 0;}
.sidebar-left li#show-index > span,
.sidebar-left li.nav-parent > span,
.sidebar-left li.nav-parent > a { z-index: 1; color: #fff; padding: 10px 15px; display: block; cursor: pointer; }
.sidebar-left a { background: none !important; color: #ddd; }
.sidebar-left a:hover, .sidebar-left a:focus { color: #fff; }
.sidebar-left .nav-main > li > span,.sidebar-left .nav-main > li > a { font-weight: 700; font-size: 13px; }
.sidebar-left .nav-main > li .fa, .sidebar-left .nav-main > li .glyphicon { margin-right: 8px; }
.sidebar-left li { border-top: 1px dashed rgba(255,255,255,0.1); border-left: 2px solid transparent;}
.sidebar-left li.active {
	border-left: 2px solid #479ec1;
}
.sidebar-left li.active > a { color: #479ec1 !important; font-weight: 700; }
.sidebar-left li .nav-children li > a { padding-left: 37px; }
.sidebar-left .sidebar-header { color: #777777; height: 50px; position: relative; }
.sidebar-left .sidebar-header .sidebar-title { color: #abb4be; font-size: 2rem; padding: 12px 15px 15px 25px; }
.documenter_topbar {
	text-align: center;
	padding: 20px 40px;
	height: 100px;
	border-bottom: 1px solid #808080;
}
#documenter_logo img {
    border: none;
    box-shadow: none;
    max-width: 125px;
    margin: 10px 0 0;
}
.tocify {
	margin-top: 10px;
}
.tocify-subheader > li > a{
  font-size: 14px;
}
.tocify-subheader .tocify-subheader > li > a{
  font-size: 13px;
}
.panel { margin-bottom: 30px; }
.panel-heading { padding: 15px 0 5px; position: relative;border-bottom: 1px solid #ebeeee; }
.panel-title { color: #2c2c2c; text-transform: uppercase; font-size: 22px; font-weight: 500; line-height: 1.2; padding: 0; margin-bottom: 0; margin-top: 0; }
.panel-title-2 { color: #2c2c2c; text-transform: uppercase; font-size: 18px; font-weight: 500; line-height: 1.2; padding: 15px 0 5px; margin-bottom: 0; margin-top: 30px;border-bottom: 1px solid #ebeeee; }
h2.panel-heading { color: #2c2c2c; text-transform: uppercase; font-size: 25px; font-weight: 500; line-height: 1.2; }
h2.panel-heading+.panel-heading { margin-bottom: 30px; }
.panel-featured .panel-body { padding: 20px 0; }
.panel-group .panel-default {
	border-color: transparent;
	padding: 0 20px;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #ebeeee;
}
.panel-group .panel-default > .panel-heading { padding: 10px 0; border-color: #ebeeee;background: transparent; }
.panel-group .panel-default > .panel-heading .panel-title { color: #2c2c2c; text-transform: none; font-size: 16px; }
.panel-default {
	border-color: transparent;
}
.mgt-ver-doc {
    background: #2c2c2c none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff !important;
    display: block;
    font-weight: 600;
    margin: 8px;
    padding: 6px 15px !important;
	border: 1px solid #2c2c2c;
}
.mgt-ver-doc:hover,.mgt-ver-doc:focus {
    background: #fff none repeat scroll 0 0;
    color: #2c2c2c !important;
}
.index-content {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #fff;
	z-index: 99999;
	display: none;
}
.index-content.enable {
	display: block;
}
.index-content .close-btn {
	position: fixed;
	top: 5px;
	right: 5px;
	width: 40px;
	height: 40px;
	background-color: #c2c2c2;
	z-index: 100000;
	cursor: pointer;
	font-size: 20px;
	line-height: 34px;
	text-align: center;
	border-radius: 5px;
	color: #fff;
}
.sidebar-left li.title-menu {
	background-color: #2c2c2c;
    border-bottom-color: #2c2c2c;
    border-left: 2px solid #479ec1 !important;
    border-right-color: #2c2c2c;
    border-top-color: #2c2c2c;
}
.sidebar-left li.title-menu + li {
	border-top: 1px solid #2c2c2c;
}
.sidebar-left li.title-menu span {
	color: #fff;
    cursor: pointer;
    display: block;
    padding: 10px 15px;
    z-index: 1;
	text-transform: uppercase;
}
@media (max-width: 767px) {
	.content-body {
		overflow: hidden;
	}
	.sidebar-left, .content-body {
		transition: all 300ms;
		-moz-transition: all 300ms;
		-webkit-transition: all 300ms;
		-o-transition: all 300ms;
		-ms-transition: all 300ms;
	}
	body:not(.enable-menu) .sidebar-left {
		left: -100%;
	}
	body:not(.enable-menu) .content-body {
		margin-left: 0;
	}
	.navbar-header + .navbar-collapse {
		display: none !important;
	}
	body.enable-menu .content-body {
		opacity: 0;
	}
}
.page-heading h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    line-height: 1;
    font-weight: 700;
}
#myInput{width:85%; margin-left: 15px;padding: 5px;margin-top: 10px;height: inherit;}
.bg-wrapper{
  padding: 15px 20px;
  background: #eee;
  margin: 0;
}
.bg-wrapper + .panel-heading {
	margin-top: 50px;
}
.bg-wrapper.no-padding{
  padding: 0;
}
a code{
  background-color: #d4e3fb;
}
.toggle-title{
  margin: 0;
  cursor: pointer;
  padding: 15px 20px;
  position: relative;
}
.toggle-title:after{
  content: "\e900";
  font-family: "lusion";
  font-size: 10px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: block;
}
.toggle-title.active:after{
  content: "\e903";
}
.toggle-title:hover{
  text-decoration: underline;
}
.toggle-content{
  display: none;
  padding: 15px 20px;
  border-top: 1px solid #ddd;
}
ul.toggle-content{
  padding: 15px 20px 15px 40px;
}
.toggle-content ul, .toggle-content ol{
  padding-left: 20px;
}
input {
  color: inherit;
  line-height: 1.5;
  height: 1.5em;
  padding: .25em 0;
}
input:focus {
  outline: none;
  box-shadow: inset 0 -2px #449fdb;
}
.glyph {
  font-size: 16px;
  width: 13em;
  padding-bottom: 1em;
  margin-right: 4em;
  margin-bottom: 1em;
  float: left;
  overflow: hidden;
}
.liga {
  width: 80%;
  width: calc(100% - 2.5em);
}
.talign-right {
  text-align: right;
}
.talign-center {
  text-align: center;
}
.bgc1 {
  background: #f1f1f1;
}
.fgc1 {
  color: #999;
}
.fgc0 {
  color: #2c2c2c;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.mvm {
  margin-top: .75em;
  margin-bottom: .75em;
}
.mtn {
  margin-top: 0;
}
.mtl, .mal {
  margin-top: 1.5em;
}
.mbl, .mal {
  margin-bottom: 1.5em;
}
.mal, .mhl {
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.mhmm {
  margin-left: 1em;
  margin-right: 1em;
}
.mls {
  margin-left: .25em;
}
.ptl {
  padding-top: 1.5em;
}
.pbs, .pvs {
  padding-bottom: .25em;
}
.pvs, .pts {
  padding-top: .25em;
}
.unit {
  float: left;
}
.unitRight {
  float: right;
}
.size1of2 {
  width: 50%;
}
.size1of1 {
  width: 100%;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.hidden-true {
  display: none;
}
.textbox0 {
  width: 3em;
  background: #f1f1f1;
  padding: .25em .5em;
  line-height: 1.5;
  height: 1.5em;
}
#testDrive {
  display: block;
  padding-top: 24px;
  line-height: 1.5;
}
.fs0 {
  font-size: 16px;
}
.fs1 {
  font-size: 32px;
}
.bshadow0, input {
  box-shadow: inset 0 -2px #e7e7e7;
}
input:hover {
  box-shadow: inset 0 -2px #ccc;
}
input, fieldset {
  font-family: sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
}
a.btn.btn-outline {
    cursor: pointer;
    width: auto;
    padding: 0 25px;
    border-radius: 24px;
    box-shadow: 0 0 0 2px #007fff inset;
    -moz-box-shadow: 0 0 0 2px #007fff inset;
    -webkit-box-shadow: 0 0 0 2px #007fff inset;
    color: #007fff;
    border: none;
    line-height: 40px;
    height: 40px;
    font-weight: 600;
}